.app {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.app > header {
  font-size: 1.2rem;
  padding: 10px;
  display: grid;
  place-items: center;
  background: var(--bg-gradient);
}

.app > main {
  padding: 10px;
  background: var(--bg-color);
  overflow: auto;
}

.app > footer {
  padding: 10px;
  background: var(--bg-gradient);
}

.colorful-border {
  border-style: solid;
  border-image-slice: 1;
  border-width: 5px 0;
  border-image-source: var(--bg-border);
}
